<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TEST</key>
	<string>Test</string>
	<key>TESTLC</key>
	<string>test</string>
	<key>CLASS</key>
	<string>___FILEBASENAMEASIDENTIFIER___</string>
	<key>DECLARATIONDIR</key>
	<string>inc</string>
	<key>DEFINITIONDIR</key>
	<string>src</string>
	<key>TESTFILENAME</key>
	<string>___FILENAME___</string>
</dict>
</plist>
